@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor0: #024995;
    --cor1: #0e88c0;
    --cor2: #3273a8;
    --branco: #F2F2F2;
    
    --roboto: 'Roboto', Arial, Helvetica, sans-serif;
    --opensans: 'Open Sans', Arial, Helvetica, sans-serif;
    --lato: 'Lato', Arial, Helvetica, sans-serif
}
.zoom {
    -webkit-transition: 0.3s;
}

.zoom:hover {
    font-size: 3.5em;
    -webkit-transition: 0.3s;
}

nav {
    padding-top: 15px;
    text-align: center;
}

nav > a{
    font-size: 3em;
    text-decoration: none;

    font-family: var(--lato);
    color: white;
    font-weight: 900;
}
